<h1>Sign up!</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token %>

  <label for="user-email">Email: </label>
  <input id="user-email" type="text" name="user[email]" value="">
  <br>
  <label for="user-pass">Password: </label>
  <input id="user-pass" type="text" name="user[password]" value="">
  <br>
  <input type="submit" value="Submit">
</form>

<%= link_to "Sign in", new_session_url %>
