<h1>New Cat!</h1>

<%= render 'form', cat: @cat %>
<!-- <form action="<%= cats_url %>" method="post">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value="">

  <br>

  <label>Sex
  M<input type="radio" name="cat[sex]" value="M">
  F<input type="radio" name="cat[sex]" value="F">
  </label>

  <br>

  <label for="color">Color</label>
  <select id="color" name="cat[color]">
    <option disabled selected>Please choose a color</option>
    <% Cat.colors.each do |color| %>
      <option value="<%= color %>"><%= color %></option>
    <% end %>
  </select>

  <br>

  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="cat[birth_date]" value="">

  <br>

  <label for="description">Description</label>
  <textarea id="description" name="cat[description]"></textarea>

  <br>

  <input type="submit" value="Submit">
</form> -->
